<template>
  <div>
    <Toolbar class="mb-4">
      <template #start>
        <div>
          <h3 class="m-0">Students</h3>
          <Button
            label="New"
            icon="pi pi-plus"
            class="p-button-primary mr-2"
            @click="openNew()"
          />
        </div>
      </template>
    </Toolbar>
    <div>
     
      <DataTable :value="dataList" stripedRows responsiveLayout="scroll">
        <Column field="name" header="Nombre"> </Column>
        <Column field="age" header="Edad"></Column>
        <Column field="datebirth" header="Fecha de Nacimiento"></Column>
        <Column field="registrationdate" header="Fecha de Registración"></Column>
        <Column field="cost" header="Costo"></Column>
        <Column :exportable="false" style="min-width: 8rem">
          <template #body="slotProps">
            <Button
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info mr-2"
              @click="selectItem(slotProps.data)"
            />
            <Button
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              @click="deletemodal(slotProps.data.id)"
            />
            
          </template>
        </Column>
      </DataTable>
    </div>
    <Dialog
      :visible.sync="newDoc"
      :style="{ width: '450px' }"
      :header="title === true ? 'Nuevo' : 'Editar'"
      :modal="true"
      class="p-fluid"
    >
      <div>
        <label class="form-label" for="#name">Nombre</label>
        <InputText class="p-inputtext-lg" type="text" v-model="form.name" />
        <label class="form-label" for="#name">Edad</label>
        <InputText class="p-inputtext-lg" type="text" v-model="form.age" />
        <label class="form-label" for="#name">Fecha de Nacimiento</label>
        <InputText class="p-inputtext-lg" type="text" v-model="form.datebirth" />        
        <label class="form-label" for="#name" >Fecha de Registración</label>
        <InputText class="p-inputtext-lg" type="text" v-model="form.registrationdate" />        
        <label class="form-label" for="#name">Costo</label>
        <InputText
          class="p-inputtext-lg"
          type="text"
          v-model="form.cost"
        />
        
      </div>
      <div v-if="error">
        <p style="color: red">Tiene que llenar el formulario</p>
      </div>
      <Button
        label="Nuevo"
        class="p-button-secondary"
        v-if="send"
        @click="create_new"
      />
      <Button
        label="Actualizar"
        class="p-button-secondary"
        v-if="update"
        @click="update_doc(form.id)"
      />
    </Dialog>
    <Dialog
      :visible.sync="confirmdelete"
      :style="{ width: '450px' }"
      header="Confirm"
      :modal="true"
    >
      <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
        <span>¿Está seguro de borrar este registro?</span>
      </div>
      <template #footer>
        <Button
          label="No"
          icon="pi pi-times"
          class="p-button-text"
          @click="confirmdelete = false"
        />
        <Button
          label="Yes"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteDoc()"
        />
      </template>
    </Dialog>
  </div>
</template>

<script>
import InputText from "primevue/inputtext";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Button from "primevue/button";
import Toolbar from "primevue/toolbar";
import Dialog from "primevue/dialog";
import axios from "axios";


export default {
  name: "Formulario",
  components: {
    InputText,
    DataTable,
    Column,
    Button,
    Toolbar,
    Dialog,
    
  },
  data() {
    return {
      name: "",
      age: "",
      datebirth: "",
      registrationdate: "",
      cost: "",
      newDoc: false,
      dataList: null,
      form: {},
      error: false,
      send: true,
      update: false,
      confirmdelete: false,
      deleteregister: false,
      idtodelete: "",
      title: true,
      url: "http://localhost:3000"
    
    };
  },
  computed: {
    
  },
  async created() {
    this.getDataList();    
    
  },
  methods: {
    refresh() {
      this.form = {};
    },
    async create_new() {

      if (this.form.name !== undefined && this.form.location !== undefined) {
        await axios.post(this.url + "/student/", this.form);
        this.$socket.client.emit('updatePoliceStation');
        this.getDataList()
        this.error = false;
        this.newDoc= false
      } else {
        this.error = true;
      }
    },

    async getDataList() {
        let response = await axios.get(this.url + "/student/")
        this.dataList = response.data
    },

    selectItem(data) {
      console.log('selectItem>', data);
      this.getDataList()
      this.title = false
      this.newDoc = true;
      this.form = {}
      this.form = data;
      this.send = false;
      this.update = true;
     
      
    },

    async update_doc(id) {
      delete this.form["dataPrint"]
      delete this.form["firstPrint"]
      await axios.put(this.url + "/student/" + id, this.form);
      
      this.refresh();
      this.newDoc= false
      
      
     
    },
    deletemodal(id) {
      console.log(id);
      this.idtodelete = id;
      this.confirmdelete = true;
    },

    async deleteDoc() {
      // console.log(id);

      this.confirmdelete = true;

      await axios.delete( this.url + "/student/"+ this.idtodelete);
      // this.$socket.client.emit('deleteTotem', "totem borrado");
      this.getDataList();
      location.reload()
      this.comfirmdelete = false;
      
    },
    openNew() {
      this.newDoc = true;
      this.send = true;
      this.update = false;
      this.form = {}
      this.title = true
    },
   
  

  },
};
</script>
<style scoped>
form {
  width: 600px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(218, 213, 213);
}
.form-label {
  display: block;
  font-size: 18px;
}

InputText {
  display: inline-block;
}
Button {
  margin: 10px;
}
#token{
  overflow-wrap: break-word;
}
</style>
