<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <!-- <router-link to="/">Inicio</router-link> |
    <router-link to="/form">Formulario</router-link> | -->
   <Formulario></Formulario>
  
  </div>
  
</template>

<script>
import Formulario from "./components/Formulario.vue"

export default {
  name: 'App',
  components: {
    Formulario
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
